<app-header>
  <h1 class="title">Hospital Mangement Suite</h1>
</app-header>
<div class="main-container">
  <app-side-nav class="side-nav" [navBarData]="navBarData"></app-side-nav>
  <div class="content">
    <div class="mat-elevation-z8">
      <div class="operations">
        <h2>List of Nurses</h2>
        <app-button (buttonClick)="onCreateNurse()" class="add-btn"
          >Add Nurse</app-button
        >
      </div>

      <table mat-table [dataSource]="dataSource" class="table">
        <!-- Doctor Column -->
        <ng-container matColumnDef="nurse-name">
          <th mat-header-cell *matHeaderCellDef>Nurse Name</th>
          <td mat-cell *matCellDef="let user">{{ user.name }}</td>
        </ng-container>

        <!-- Doctor Column -->
        <ng-container matColumnDef="doctor">
          <th mat-header-cell *matHeaderCellDef>Assigned Doctor</th>
          <td mat-cell *matCellDef="let user">
            {{user.assignedDoctor[0]?.name || ""}}
          </td>
        </ng-container>

        <!-- Operations Column -->
        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let user" class="operations">
            <app-custom-mat-icon (click)="onUpdateNurse(user)">edit</app-custom-mat-icon>
            <app-custom-mat-icon (click)="onDeleteNurse(user._id)">delete_outline</app-custom-mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>

